<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color:LightSalmon;">
<h1>Articles - Category</h1>
<br>
<br>




<a th:href="@{/fiction}" style="color:black">Fiction</a>

<br>
<br>
<a th:href="@{/non-fiction}"  style="color:black">Non-Fiction</a>
<br>
<br>
<a th:href="@{/Wildlife}"  style="color:black" >Wildlife</a>
<br>
<br>
<a th:href="@{/Science_Tech}"  style="color:black">Science_Tech</a>
<br>
<br>
<a th:href="@{/Political}" style="color:black">Political</a>

 <br>
 
 <br>
 

 

</body>
</html>