<!DOCTYPE html>
<html  xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body style="background-color:LightSalmon;" >



<h1>Fiction Collection</h1>

<br>
<br>



 <a th:href="@{/fiction_book1/2}"  style="color:white;font-size:20px;">Book1</a>   
<br>
<br>
<a th:href="@{/fiction_book2/7}"  style="color:white;font-size:20px;">Book2</a>
<br>
<br>
<a th:href="@{/fiction_book3/13}"  style="color:white;font-size:20px;">Book3</a>
<br>
<br>
<a th:href="@{/fiction_book4/14}"  style="color:white;font-size:20px;">Book4</a>
<br>
<br>
<a th:href="@{/fiction_book5/15}"  style="color:white;font-size:20px;">Book5</a>



 

</body>
</html>