<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color:LightSalmon;">

<h1>Political Collection</h1>

<br>
<br>

<a th:href="@{/Political_book1/5}"  style="color:white;font-size:20px;">Book1</a>
<br>
<br>
<a th:href="@{/Political_book2/10}"  style="color:white;font-size:20px;">Book2</a>
<br>
<br>
<a th:href="@{/Political_book3/26}"  style="color:white;font-size:20px;">Book3</a>
<br>
<br>
<a th:href="@{/Political_book4/27}"  style="color:white;font-size:20px;">Book4</a>
<br>
<br>
<a th:href="@{/Political_book5/28}"  style="color:white;font-size:20px;">Book5</a>

</body>
</html>