<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color:LightSalmon;">
<h1>Science & Tech Collection</h1>
<br>
<br>

<a th:href="@{/Science_Tech_book1/6}"  style="color:white;font-size:20px;">Book1</a>
<br>
<br>
<a th:href="@{/Science_Tech_book2/22}"  style="color:white;font-size:20px;">Book2</a>
<br>
<br>
<a th:href="@{/Science_Tech_book3/23}"  style="color:white;font-size:20px;">Book3</a>
<br>
<br>
<a th:href="@{/Science_Tech_book4/24}"  style="color:white;font-size:20px;">Book4</a>
<br>
<br>
<a th:href="@{/Science_Tech_book5/25}"  style="color:white;font-size:20px;">Book5</a>

</body>
</html>