<!DOCTYPE html>
<html  xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color:LightSalmon;">


<h1>Wildlife Collection</h1>

<br>
<br>

<a th:href="@{/Wildlife_book1/3}"  style="color:white;font-size:20px;">Book1</a>
<br>
<br>
<a th:href="@{/Wildlife_book2/8}"  style="color:white;font-size:20px;">Book2</a>
<br>
<br>
<a th:href="@{/Wildlife_book3/19}"  style="color:white;font-size:20px;">Book3</a>
<br>
<br>
<a th:href="@{/Wildlife_book4/20}"  style="color:white;font-size:20px;">Book4</a>
<br>
<br>
<a th:href="@{/Wildlife_book5/21}"  style="color:white;font-size:20px;">Book5</a>
 

</body>
</html>